<!DOCTYPE html>
<html>
  <head>
    <title>Infumuno</title>
  </head>
  <body>
    <h1>Infumuno</h1>
    <p>単語を入力すると母音が同じアイドルを出力します。</p>
      
    <%= form_tag("/", method: "get") do %>
      <%= label_tag(:q, "単語(ひらがな):") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("送信") %>
    <% end %>
    <p><%= @query %></p>
    <p><%= @result %></p>
  </body>
</html>